<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 2: New York Times API</title>
</head>
<body>
<h3>Project 2</h3>
    <h1 class="center_header">Search for book lists with NY Times API</h1>

    <div class="search_form_style">
        <form method="POST" action="{{url_for('search')}}">
            {#{{form.csrf}}#}
            {#{{form.hidden_tag()}}#}

            <label>Select a genre of books to find a list for:</label><br>
            {{ form.genre_list_input }}
            <br><br>

            <label>Would you like the most recent list for the selected genre?</label><br>
            {{ form.current_date_input }}
            <br><br>

            <label>Date for a specific list look-up (Format: YYYY-MM-DD):</label><br>
            {{ form.date_chosen_input }}
            <br><br>

            <input type="submit" value="Search">
        </form>
    </div>

</body>
</html>